@page "/Event"

@using WebDoAn.Data
<div class="row">
    <div class="col-xl-9 pr-xl-2">
        <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-smartphone"> </i>
                    <h3 class="text-primary number">Gửi Tin Nhắn</h3>
                    <p class="stat-text">SĐT người dùng: 0987274652 </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-xl-9 pr-xl-2">
        <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-inbox"> </i>
                    <h3 class="text-success number">Gửi Email</h3>
                    <p class="stat-text">Mail người dùng:Abc@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

